/* Header */
.navbar-brand {
    color: #009E0F !important;
}

.nav-link {
    color: #009E0F !important;
}

.nav-link:hover {
    color: #36783d !important;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

a:link {
    text-decoration: none;
}

/*

.image-container {
    height: 100%;
}

.image-veg {
    background: url(../images/veg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.tree{
    
    border-radius: 50%;
}
