@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Fonts */
.logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
}

/* Buttons */
.btn-success {
    background-color: #009E0F;
    border-color: #009E0F;
}

.btn-outline-success {
    color: #009E0F;
    border-color: #009E0F;
}

.btn-success:hover {
    background-color: #36783d;
    border-color: #36783d;
}

.btn-outline-success:hover {
    background-color: #009E0F;
    border-color: #009E0F;
}

/* Header */
.navbar-brand {
    color: #009E0F !important;
    font-size: 3em;
}

.nav-link {
    color: #009E0F !important;
    font-size: 1.1em;
}

.nav-link:hover {
    color: #36783d !important;
}

/* Footer */
a:link {
    text-decoration: none;
}

/* Landing page */

.tree-img {
    width: 400px;
    height: 400px;
}
#main-section {
    height: 100vh;
}

/*  Sign In */

.form-heading-signup {
    margin-top: 50px;
    margin-bottom: 20px;
}

#login-btn {
    background-color: #009E0F;
}

.sign-in img {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}