{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="row ">
                <div class="col-10 offset-1 col-md-6 offset-md-3 text-center">
                    <h1 class="form-heading-signup">Sign In</h1>
                </div>
            </div>

            <!-- Log In Form-->
            <div class="form-container my-auto">
                <div class="row">
                    <form class="col-10 offset-1 col-md-6 offset-md-3 text-center" method="POST"
                        action="{{ url_for('login') }}">
                        <div class="form-row text-center pt-5">
                            <div class="form-group col-12">
                                <label for="username" class="d-none"></label>
                                <input type="text" class="form-control validate mb-3" id="username" name="username"
                                    placeholder="Username" required>
                            </div>
                            <div class="form-group col-12">
                                <label for="password" class="d-none"></label>
                                <input type="password" class="form-control validate mb-3" id="password" name="password"
                                    placeholder="Password" required>
                            </div>
                        </div>
                        <div class="login-row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-lg btn-success mb-3">
                                    Sign In
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group text-center">
                                <p class="account-login">
                                    Don't have an account?
                                    <a href="{{ url_for('register') }}" class="form-link hvr-grow">Sign Up</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4 sign-in d-none d-md-block">
            <img src="../static/images/signin.jpg" alt="vegetables on a table">
        </div>
    </div>
</section>
{% endblock %}