{% extends "base.html" %}
{% block content %}
<!-- Product Entries Column -->

<div id="marketplace-img-container" class="container-fluid p-0">
    <div id="marketplace-img" class="row align-items-center h-100 mx-0">
        <h1 class="text-center mx-0">Marketplace</h1>
    </div>
</div>

<div class="row mx-0">
    <!-- Product Entries Column -->
    <div class="col-12 mt-4 p-5 left">
        <div class="row mx-3">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card mb-4">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                        <p class="text-muted">{{ product.product_category }}</p>
                        <p class="card-text">{{ product.quantity }}
                            {% if product.product_category == "Seeds" %}seeds{% else %}Kg.{% endif %} Available
                        </p>
                    </div>
                </div>
            </div>
            {% if loop.index % 4 == 0 %}
        </div>
        <div class="row mx-3">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}