{% extends "base.html" %}
{% block content %}
<!-- Product Entries Column -->

<div id="marketplace-img-container" class="container-fluid p-0">
    <div id="marketplace-img" class="row align-items-center h-100 mx-0">
        <h1 class="text-center mx-0">Marketplace</h1>
    </div>
</div>

<section id="marketplace-section" class="container-fluid mt-4 p-5">
    <div class="row align-items-center h-100">
        <div class="col-sm-6 text-center mx-auto">
            <h2 class="mb-3">Every Saturday in the main Yard, 10am-4pm</h2>
            <p>On Saturdays our marketplace brings together lots of fresh excess produce to share with the community for free! </p>
            <p>Stalls vary from week to week, offering a range of vegetables, fruit and seeds. You can see what's available live below!</p>
            <p>We are passionate in eliminating food waste by sharing surplus produce within the locally community. Nothing ever gets wasted! Any leftover produce will get delivered to local foodbanks at the end of the day.</p>
            <p>Come visit us on Saturdays!</p>

        </div>

        <div class="col-sm-6 image-container">
            <img src="static/images/veg.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center">Available Produce</h1>
        </div>
    </div>
</section>

<div class="row mx-0">
    <!-- Product Entries Column -->
    <div class="col-12 mt-4 p-5 left">
        <div class="row mx-3">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card mb-4">
                    <img class="card-img-top" src="static/images/default_produce_image.png" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                        <p class="text-muted">{{ product.product_category }}</p>
                        <p class="text-muted">{{ product.expiry_date }}</p>
                        <p class="card-text">{{ product.quantity }}
                            {% if product.product_category == "Seeds" %}seeds{% else %}Kg.{% endif %} Available
                        </p>
                    </div>
                </div>
            </div>
            {% if loop.index % 4 == 0 %}
        </div>
        <div class="row mx-3">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}