{% extends "base.html" %}

{% block content %}
<!-- Page Heading -->
<section class="container-fluid">
    <div class="row align-items-center h-100 my-5">
        <div class="col-12 col-md-6">
            <div class="row text-center">
                <div class="col-10 offset-1 col-md-6 offset-md-3">
                    <h1 class="form-heading-signup">Order your Seeds</h1>
                </div>
            </div>
            <!-- Add Donation Form-->
            <form method="POST" action="" class="col-8 offset-2">

                <div class="form-group">
                    <input type="text" class="form-control mb-3" id="fullname" name="fullname" placeholder="Name" required>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control mb-3" id="address" name="address" placeholder="Address" required>
                </div>


                <div class="form-group">
                    <select class="form-select mb-3" aria-label="Type of Seed">
                        <option value="1">Apple Tree</option>
                        <option value="2">Tomato</option>
                        <option value="3">Spinach</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control mb-5" id="quantity" name="quantity" placeholder="Quantity"
                        required>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-lg btn-success mb-3">Order Now!</button>
                    </div>
                </div>
            </form>
      </div>
       
      <div class="col-6 side-img d-none d-md-block">
          <img src="../static/images/seeds.jpg" alt="assorted seeds on display">
      </div>
  
</section>

{% endblock %}